body{
    display: flex;
}
.container{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
}

.hot-list{
    display: flex;
    justify-content: space-around;
    color: red;
}

.cold-list{
    display: flex;
    justify-content: space-around;
}
.cold-list td{
    color: blue;
}

.list{
    display: flex;
    justify-content: space-around;
}

.coin-img-size {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    margin-right: 5px;
  }
